/* Adding Tailwind directives per https://tailwindcss.com/docs/guides/vite */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Wallpaper / Background gradient */
body {
    background: radial-gradient(125% 125% at 50% 10%, #fff 40%, #3730a3 100%);
    background-attachment: fixed;
  }

.fc .fc-toolbar-title {
  font-size: 1rem;
}

#calendar {
  width: 500px;
}

.fc-scroller {
  height: auto !important;
}

.fc .fc-media-screen .fc-direction-ltr .fc-theme-standard {
  height: 400px;
}

.fc-scroller {
  overflow: visible !important;
}

.fc table {
  font-size: 10px;
}

.fc .fc-button-primary {
  background-color: transparent;
  border-color: transparent;
  color: rgb(94, 148, 192);
  transition: ease-in-out;
  transition-duration: 500ms;
}

.fc .fc-button-primary:hover {
  background-color: teal;
  border-color: transparent;
}

.fc .fc-button-primary:focus {
  box-shadow: none;
}

.fc-daygrid-event-dot {
  border: calc(var(--fc-daygrid-event-dot-width) / 2) solid #d837d3
}
